@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #E5E8E8;
    font-family: 'Rubik', sans-serif;
    color: white;
}

div#Main{
    color: #e7e7e7;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('picture/background.jpg');
}

div#Main h1{
    color: #111;
    font-size: 10vw;
    -webkit-text-stroke: 1px #fff;
}

div#Main button{
    background-color: 	#7289da;
    /* border-radius: 15%; */
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: inherit;
    text-decoration: none;
    font-size: 105%;
}

div#Main button a{
    color: inherit;
    text-decoration: inherit;
}

div#NavBar{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #111310;
    color: white;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

div#NavBar div{
    width: 50%;
}

div#NavBar h2{
    padding-left: 20px;
    margin: inherit;
}

div[name="site"] img{
    margin: inherit;
    padding: 0px;
    padding-right: 5px;
    width : 40px;
    max-width: 45px;
    min-width: 25px;
    height : auto;
    vertical-align: middle;
}

div[name="site"]{
    align-items: inherit;
}

ul#NavBarList{
    list-style-type: none;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 0px;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    background-color: inherit;
}

ul#NavBarList li{
    margin-left: 5px;
    margin-right: 5px;
    display:inline;
}

ul#NavBarList li a{
    text-decoration: none;
    color: inherit;
}

.menu{
    transition: all .2s ease-in-out;
}

ul#NavBarList li a:hover{
    text-shadow: 3px 3px #565657;
}

ul#NavBarList li a:active{
    text-shadow: 0px 0px #565657;
    color: #565657;
}

/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin:  0 10px;
}
.socials a{
    text-decoration: none;
    color: inherit;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(98, 184, 218);
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}